$linearGradient: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
$primaryColor: #30C88F;
$secondaryColor: #2D314D;
$textColor: #9597A5;

$header1: 56px;
$header2: 40px;
$header3: 24px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Public Sans', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    max-width: 100%;
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-text{
    color: $textColor;
    font-size: 18px;
    padding: 24px 0;
    line-height: 1.5;
}

.secondary-text{
    color: $textColor;
    font-size: 16px;
    line-height: 1.5;
}

.header1{
    font-size: $header1;
    font-weight: 200;
    color: $secondaryColor;
}

.header2{
    font-size: $header2;
    font-weight: 200;
    color: $secondaryColor;
}

.header3{
    font-size: $header3;
    font-weight: 200;
    color: $secondaryColor;
    padding: 20px 0;
}



//header starts here

.open-btn{
    display: none;
}

.header {
    padding: 20px 0;
}

.navbar {
    @include flex();
}

.nav-list {
    @include flex();
}

.nav-item {
    padding: 0 30px;

    .nav-link {
        color: $textColor;
        font-size: 14px;
        position: relative;

        &:hover{
            &::after {
                content: " ";
                width: 50px;
                height: 5px;
                background-color: $primaryColor;
                position: absolute;
                top: 300%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.btn {
    padding: 15px 33px;
    background-image: $linearGradient;
    color: #ffffff;
    font-size: 14px;
    border-radius: 20px;

    &:hover{
        opacity: 0.4;
    }
}


// main section starts

//generation section

.generation{
    background-color: #F2F2F2;
    background-image: url('../images/hero-phones-desktop.png'), url('../images/hero-bg-desktop.png');
    background-repeat: no-repeat, no-repeat;
    background-position: right, right;   
    padding: 250px 0;

    .container{
        @include flex();
    }
}

.generation-info{
    width: 40%;

    .header1{
        font-size: $header1;
        color: $secondaryColor;
        font-weight: 200;
    }

}


//choosing section

.choosing{
    background-color: #F4F5F7;
    padding: 100px 0;
}

.choosing-info{
    width: 60%;
}

.choosing-list{
    @include flex();
    padding-top: 40px;
}

.choosing-item{
    padding: 0 10px;
}

//articles section

.articles{
    background-color: #F2F2F2;
    padding: 80px 0;
}

.articles-list{
    @include flex();
    padding-top: 40px;
}

.articles-item{
    padding: 0 10px;
}

.article-author{
    font-size: 10px;
    color: $textColor;
    padding-top: 20px;
}

.article-text{
    font-size: 13px;
    color: $textColor;
    line-height: 1.5;
}

.article-secondary-text{
    font-size: 16px;
    color: $secondaryColor;
    padding: 10px 0;
}

.article-secondary-link{
    &:hover{
        color: $primaryColor;
        cursor: pointer;
    }
}


//footer starts

.footer{
    padding: 30px 0;
    background-color: $secondaryColor;
    
    .container{
        @include flex();
    }
}

.footer-list{
    @include flex();
}

.footer-item{
    padding: 0 60px;
}

.footer-item-list-item{
    padding: 10px 0;
}

.footer-item-list-item-link{
    color: #ffffff;

    &:hover{
        color: $primaryColor;
    }
}

.icons-list{
    padding-top: 50px;
}

.icon-link{
    padding: 0 5px;

    &:hover{
        color: $primaryColor;
        background-color: $primaryColor;
    }
}

.footer-right-text{
    padding-top: 30px;
    color: $textColor;
    font-size: 15px;
}


//media queries

@media (max-width: 1160px){
    .container{
        width: 1000px;
    }

    .generation{
        background-size: 620px;
    }
}

@media (max-width: 1020px){
    .container{
        width: 900px;
    }

    .generation{
        background-image: url('../images/media-bg-img.png');
        background-size: contain;
        background-position: top;
        padding: 80px 0;
    }

    .generation-info{
        padding-top: 820px;
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }

    .choosing{
        padding: 50px 0;
    }

    .choosing-info{
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width: 920px){
    .container{
        width: 800px;
    }

    .navbar-btn,
    .nav-list{
        display: none;
    }
    
    .open-btn{
        display: inline-block;
    }

    .generation-info{
        padding-top: 700px;
    }

    .choosing-list{
        flex-direction: column;
    }

    .choosing-item{
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        text-align: center;
        padding-top: 40px;
    }

    .articles{
        padding: 50px 0;
        text-align: center;
    }

    .articles-list{
        flex-direction: column;
    }

    .articles-item{
        @include flex();
        flex-direction: column;
        text-align: center;
        width: 80%;
        padding-top: 40px;
    }

    .footer{
        .container{
            flex-direction: column;
        }

        .footer-right{
            padding-top: 50px;
            text-align: center;
        }
    }
}


@media (max-width: 820px){
    .container{
        width: 700px;
    }

    .generation-info{
        padding-top: 650px;
    }

    .header1{
        font-size: $header2 !important;
    }

    .header2{
        font-size: 30px;
    }

    .choosing-info{
        width: 80%;
    }
}

@media (max-width: 720px){
    .container{
        width: 600px;
    }

    .generation-info{
        padding-top: 550px;
    }

    .footer-list{
        flex-direction: column;
        text-align: center;
    }

    .icons-list{
        padding: 30px 0;
    }
}

@media (max-width: 620px){
    .container{
        width: 500px;
    }

    .footer-right{
        padding-top: 30px !important;
    }
}

@media (max-width: 520px){
    .container{
        width: 400px;
    }

    .generation{
        padding: 60px 0;
    }

    .generation-info{
        padding-top: 360px;
    }

    .choosing-list,
    .articles-list{
        padding-top: 0;
    }
}

@media (max-width: 420px){
    .container{
        width: 95%;
    }
}